body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 30px;
  width: 60px;
  right: 20px;
  background: none;
  border: none;
  color: inherit;
  font-size: 30px;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s;
  outline: none;
  background-color: #ffffff;
  z-index: 1000;
}

.dark-mode .dark-mode-toggle {
  color: #ffdd57;
  background-color: #121212;
}

.App.dark {
  background-color: #121212;
  color: #ffffff;
}
